body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: cadetblue;
    padding: 5px;
}

#leftHeader{
    flex: 1;
}

#siteTitle{
    background-color: white;
    text-align: center;
    width: auto;
    height: auto;
}

#centralHeader{
    flex: 1;
}

#rightHeader{
    flex: 1;
}

#content{
    display: flex;
}

#leftContent{
    display: flex;
    flex-direction: column;
    flex: 3;
}

#topLeftContent{
    display: flex;
    flex-direction: row;
}

#leftSidebar{
    padding: 5px;
    background-color: aqua;
    flex: 2;
}

#mainArticle{
    padding: 5px;
    background-color: azure;
    flex: 4;
}

#preFooter{
    padding: 5px;
    background-color: deepskyblue;
    flex: auto;
}

#rightSidebar{
    padding: 5px;
    flex: 1;
    background-color: cornflowerblue;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: cadetblue;
}

#leftFooter{

}

#footerCopyright{
    background-color: white;
    text-align: center;
    width: auto;
    height: auto;
}

#centralFooter{

}

#rightFooter{

}