body{
    display: grid;
    grid-template-areas:
    "header header header"
    "left-sidebar article right-sidebar"
    "pre-footer pre-footer right-sidebar"
    "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 1px;
    height: auto;
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;
    background-color: cornflowerblue;

    display: grid;
    grid-template-areas: "leftHeader centralHeader rightHeader";
    grid-template-columns: 30% 1fr 30%;

    margin: 0;
    padding: 10px;
}



#leftHeader{
    grid-area: leftHeader;
}

#centralHeader{
    grid-area: centralHeader;
}

#rightHeader{
    grid-area: rightHeader;
}

#headerTitle{
    background-color: white;
    text-align: center;
}



article{
    grid-area: article;
    background-color: gainsboro;
    padding: 5px;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

#leftSidebar{
    grid-area: left-sidebar;
    background-color: cadetblue;
    padding: 5px;

    display: grid;
    grid-template-rows: auto 1fr;
}



#rightSidebar{
    grid-area: right-sidebar;
    background-color: aqua;
    padding: 5px;

    display: grid;
    grid-template-rows: auto 1fr auto;
}



#preFooter{
    grid-area: pre-footer;
    background-color: deepskyblue;
    padding: 5px;

    display: grid;
    grid-template-rows: auto 1fr auto;
}



footer{
    grid-area: footer;
    background-color: cornflowerblue;
    padding: 5px;

    display: grid;
    grid-template: "leftFooter centralFooter rightFooter";
    grid-template-columns: 30% 1fr 50%;
}

#leftFooter{
    grid-area: leftFooter;
}

#centralFooter{
    grid-area: centralFooter;
}

#rightFooter{
    grid-area: rightFooter;
}

#footerCopyright{
    background-color: white;
    text-align: center;
}