body {
    display: grid;
    grid-template-areas:
  "header header header"
  "left-sidebar article right-sidebar"
  "left-sidebar footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 1px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#pageHeader {
    grid-area: header;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left, .header-right {
    flex: 1;
}

.header-left {
    margin-left: 10px;
    text-align: left;
}

.header-right {
    margin-right: 10px;
    text-align: right;
}


#mainMenu{
    background-color: #333;
    width: auto;
}
#mainMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#mainMenu li {
    margin: 5px 10px;
}

#mainMenu a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#mainMenu a:hover {
    background-color: #555;
}


#pageFooter {
    grid-area: footer;
    background-color: cornflowerblue;
}
#mainArticle {
    padding: 5px;
    grid-area: article;
    background-color: dodgerblue;
    text-align: center;
}

#mainArticle ul, ol, a{
    font-size: 25px;
}

#leftSidebar {
    padding: 5px;
    grid-area: left-sidebar;
    background-color: deepskyblue;
}
#rightSidebar {
    padding: 5px;
    grid-area: right-sidebar;
    background-color: deepskyblue;
}

.article-image{
    width: 300px;
    height: auto;
}

.footer-copyright{
    position: relative;
    text-align: center;
}
